.task-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px white;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.kanban-handle:hover {
  cursor: grab;
}

.task-item:active {
  cursor: grabbing;
  transform: rotate(0.5deg);
}

.completed {
  text-decoration: line-through;
  opacity: 50%;
}

.task-input {
  display: flex;
  gap: 1rem;
  align-items: center;
}

