body{
    display: grid;
    place-content: center;
    background-color: black;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin-top: 1rem;
    position: relative;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 90dvh;
}

.toggle-form{
    width: 70px;
    height: 70px;
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.stats-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    margin: 1rem;
}

.stats-list {
    display: flex;
    justify-content: space-between;
    width: 60%;
}



